<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <nav id="basenav" class="navbar navbar-expand-lg navbar-light bg-light nav-pills">
        <a class="navbar-brand" href="{% url 'posts:home' %}">
            <img src="{% static  'assets/icons/soundwave.svg' %}" width="30" height="30" alt="">
        </a>
        <!-- <a class="navbar-brand" href="{% url 'posts:home' %}"> HOME </a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <!-- <li class="nav-item">
                    <a class="postbtn btn btn-light" href="{% url 'posts:createpost' %}"> Create Post </a>
                </li> -->

                <!-- <li class="nav-item">
                    <a class="profilebtn btn btn-light" href="{% url 'accounts:createprofile' %}"> Create Profile
                    </a>
                </li> -->

                {% if user.users %}
                <li class="nav-item">
                    <a class="postbtn btn btn-light" href="{% url 'posts:createpost' %}"> Create Post </a>
                </li>
                <li class="nav-item">
                    <a class="viewbtn btn btn-light" href="{% url 'accounts:profiledetail' pk=user.users.id %}"> View
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="profilebtn btn btn-light" href="{% url 'accounts:createprofile' %}"> Create Profile
                    </a>
                </li>


                {% endif %}

                <li class="nav-item">
                    <a class="logoutbtn btn btn-light" href="{% url 'accounts:logoutuser' %}"> Logout </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="registerbtn btn btn-light" href="{% url 'accounts:createuser' %}"> Register </a>
                </li>
                <li class="nav-item">
                    <a class="loginbtn btn btn-light" href="{% url 'accounts:loginuser' %}"> Login </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>




    {% block content %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>

    
    {% block forjs %}
        
    {% endblock %}
        
    
</body>

</html>