{% extends 'posts/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="container">
    <br>
    <div class="userposts col-sm-12 col-md-12 col-lg-12">
        <h1> Blog's .... </h1>

        <div class="row">
            {% for post in postlist %}
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="postcard card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="postlinks" href="{% url 'posts:postdetail' pk=post.id %}">
                                {{ post.title }}
                            </a>
                            <span class="categoryTag">
                                <span class="category-color" style="background-color:{{ post.category.color }}">
                                </span>
                                {{ post.category.category }}
                            </span>
                        </h5>
                        <hr>
                        <span>
                            Description: {{ post.description }}
                            <footer class="dateTag blockquote-footer">
                                Published-On: <cite title="Source Title"> {{ post.published_date }} <cite>
                                <span class="writer">
                                    Written By - 
                                    <a class = "writerlink" href="{% url 'accounts:profiledetail' pk=post.author.users.pk %}"> 
                                        {{ post.author.users.name }} 
                                    </a>
                                </span>
                            </footer>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}