{% extends 'posts/base.html' %}
{% load bootstrap4 %}
{% block content %}
    
<div class = 'container'>
    <br>
    <h1> Updating BLOG.... </h1>
    <form action="" method = 'POST' >
        {% csrf_token %}
        <br>
        <label for="{{ form.title.id_for_label }}"> Title </label>
        {% bootstrap_field form.title show_label=False %}

        <label for="{{ form.description.id_for_label }}"> Description </label>
        {% bootstrap_field form.description show_label=False %}

        <label for="{{ form.category.id_for_label }}"> Category </label>
        {% bootstrap_field form.category show_label=False %}

        <div class = "row">
            <div class = "col-12">
                {% bootstrap_field form.body show_label=False %}
                {{ form.media }}
            </div>
        </div>
        <input class = 'form-control btn btn-warning' type="submit" value = 'Update'>
    </form>
    <br><br>
</div>
{% endblock %}
    