body {
    /* background-color: black; */
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.profileform {
    /* border:2px solid black; */
    /* background-color: black; */
    padding-left: 5%;
    /* padding-top: 1%; */
    padding-right: 5%;
    /* padding-bottom: 5%; */
    margin: auto;
}

input {
    /* padding-top: 5px; */
    padding-bottom: 0px;
}

label {
    font-weight: bold;
    padding-top: 10px;
}

small {
    margin-top: -3%;
}
