body {
    /* background-color: black; */
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

.profile {
    /* border: 2px solid black; */
    margin-top: 3%;
}

.userposts {
    /* border:2px solid black; */
    margin-top: 3%;
}

.name {
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    font-size: xx-large;
}

.username {
    color: grey;
    font-size: larger;
    margin-top: -8%;
}

.maillink ,.instalink {
    align-self: start;
    color: black;
}

a {
    color: black;
}

.postcard {
    margin-top: 2%;
    margin-bottom: 2%;
}
/* .instalink {
    color: black;
} */

.postlinks {
    color:#0466D6;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}

.postlinks:hover {
    color:#0466D6;
    text-shadow: 2em;
    /* font-weight: bold; */
    text-decoration: underline;
}

a:hover {
    color:#5A6268;
    text-decoration: none;
}

.category-color {
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.categoryTag {
    float: right;
}

.dateTag {
    float: right;
    padding-top: 3%;
}

.buttonTag {
    float: left;
    padding-top: 3%;
}

.deletebutton {
    height: 5em;
}

