{% extends 'accounts/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class='container'>
    <br>

    <h1> 
        <a href="{% url 'posts:home' %}" style = "color: black;">
            <img class = "blogicon" src="{% static  'assets/icons/soundwave.svg' %}">
        </a>
    </h1>

    <h3> Sign in to BLOG </h3>
    <div class="card loginform col-sm-12 col-md-4 col-lg-4">
        <div class="card-body">
            <form action="" method='POST'>
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class='register btn btn-success btn-sm btn-block' type="submit" value='Login'>
            </form>

        </div>
    </div>
    <br>
    <div class="card bottomtab col-sm-12 col-md-4 col-lg-4">
        <div class="card-body">
            <p> New to BLOG? <a href="#"> Create an account </a></p>
            <p> <a href="#"> Forgot Password?</a></p>
        </div>
    </div>

    

</div>
{% endblock  %}