{% extends 'posts/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/profiledetail.css' %}">


<form action=></form>

<div class="container">
    <div class="row">
        <div class="profile col-sm-12 col-md-3 col-lg-3">


            <div class="row">
                <div class="col-3 col-sm-6 col-md-12 col-lg-12">
                    <img src="{{ userprofile.profile_pic.url }}" alt="" class="rounded-circle img-fluid">
                </div>

                <div class="col-9 col-sm-6 col-md-12 col-lg-12">

                    <p class="name">
                        {{ userprofile.name }}
                    <p class="username"> {{ userprofile.user.username }} </p>
                    </p>

                    {% if user.id == userprofile.user.id %}
                    <a class="editbutton form-control btn btn-light"
                        href="{% url 'accounts:updateprofile' pk=user.users.id %}">
                        Edit Profile
                    </a>
                    {% endif %}

                    
                    <br><br>

                    <img class="mail" src="{% static 'assets/icons/mailbox.svg'%}">
                    <a class="maillink" href="mailto:{{ userprofile.email }}">
                        Email
                    </a>
                    <br>
                    <img class="insta" src="{% static 'assets/icons/camera.svg'%}">
                    <a class="instalink" href=" {{ userprofile.instagram_link }} ">
                        Instagram
                    </a>

                </div>
            </div>

        </div>
        <div class="userposts col-sm-12 col-md-9 col-lg-9">
            <h1> Posts .... </h1>
            <hr>
            {% if not posts %}
            <div class="alert alert-warning" role="alert">
                No blog' published
              </div>
            {% endif %}
                
            <div class="row">
                {% for post in posts %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="postcard card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class = "postlinks" href="{% url 'posts:postdetail' pk=post.id %}">
                                    {{ post.title }}
                                </a>
                            </h5>
                            <hr>
                            <p class="card-text">
                                <blockquote class="blockquote mb-0">
                                    <p> Description: {{ post.description }} </p>
                                    <footer class="blockquote-footer">
                                        Created-Date: <cite title="Source Title"> {{ post.created_date }} <cite>
                                    </footer>
                                </blockquote>
                                <br>
                                <a class = "deletebtn btn btn-light" href="{% url 'posts:deletepost' pk=post.id %}"> Delete Post ? </a>
                                <a class = "updatebtn btn btn-light" href="{% url 'posts:updatepost' pk=post.id %}"> Update </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            

            {% if user.id == userprofile.user.id %}
            <h1> Drafts .... </h1>
            <hr>
            <div class="alert alert-danger" role="alert">
                Your unpublished drafts
              </div>
            <div class = "row">
                
                {% for draft in drafts %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="postcard card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class = "postlinks" href="{% url 'posts:draftdetail' pk=draft.pk %}">
                                    {{ draft.title }}
                                </a>
                            </h5>
                            <hr>
                            <p class="card-text">
                                <blockquote class="blockquote mb-0">
                                    <p> Description: {{ draft.description }} </p>
                                    <footer class="blockquote-footer">
                                        Created-Date: <cite title="Source Title"> {{ draft.created_date }} <cite>
                                    </footer>
                                </blockquote>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                    
            </div>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}



{% block forjs %}
<script src="{% static 'js/profiledetail.js' %}"></script>
{% endblock  %}