{% extends 'posts/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/profiledetail.css' %}">


<div class="container">
    <div class="row">
        <div class="profile col-sm-12 col-md-3 col-lg-3">


            <div class="row">
                <div class="col-3 col-sm-6 col-md-12 col-lg-12">
                    <img src="{{ userprofile.profile_pic.url }}" alt="" class="rounded rounded-circle img-fluid">
                </div>

                <div class="col-9 col-sm-6 col-md-12 col-lg-12">

                    <p class="name">
                        {{ userprofile.name }}
                    <p class="username"> {{ userprofile.user.username }} </p>
                    </p>

                    <a class="form-control btn btn-light" href="{% url 'accounts:updateprofile' pk=user.users.id %}">
                        Edit Profile
                    </a>
                    <br><br>

                    <img class="mail" src="{% static 'assets/icons/mailbox.svg'%}">
                    <a class="maillink" href="mailto:{{ userprofile.email }}">
                        Email
                    </a>
                    <br>
                    <img class="insta" src="{% static 'assets/icons/camera.svg'%}">
                    <a class="instalink" href=" {{ userprofile.instagram_link }} ">
                        Instagram
                    </a>

                </div>
            </div>

        </div>
        <div class="userposts col-sm-12 col-md-9 col-lg-9">


            <h1> Posts .... </h1>
            <div class="row">
                {% for post in posts %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="postcard card">
                        <div class="card-body">
                            <h5 class="card-title"> 
                                <a href="{% url 'posts:postdetail' pk=post.id %}"> 
                                    {{ post.title }} 
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ post.body|slice:":200"|safe }} ...
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>

{% endblock %}